@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared style */

.color-1 {
    color: white;
}

.color-2 {
    color: rgba(255, 255, 255, 0.5);
}

.color-3 {
    color: rgb(230, 83, 60);
}

.display-flex {
    display: flex;
}

/* header area */

.header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0.03) 100%);
}

.navbar {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}

.navbar > h3 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
}

.nav-option {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    width: 450px;
}

.nav-option > li {
    list-style: none;
}

.home {
    width: 90px;
    padding: 8px 30px;
    margin-left: -20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}

/* banner area */

.banner {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
    justify-content: space-between;
}

.banner-text {
    width: 550px;
    height: 300px;
}

.banner-text > h1 {
    font-size: 5rem;
}
.banner-text > p {
    margin-top: 20px;
}

.shape {
    font-family: 'Great Vibes', cursive;
    font-weight: 100;
    font-size: 8rem;
}

.banner-btn {
    gap: 20px;
    
}

.banner-btn > button {
    width: 230px;
    height: 60px;
    padding: 15px 40px;
    border-radius: 40px;
    margin-top: 50px;
}

.join-club {
    background-color: rgb(230, 83, 60);
    border: rgb(230, 83, 60);
    font-size: 1.25rem;
}

.download-app {
    background-color: #00000031;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.404);
    font-size: 1.25rem;
}

.banner-img {
    background-image: url(./images/Images2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 620px;
    position: relative;
}

.banner-img-card1 {
    width: 200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 130px;
    margin-left: 270px;
    
}

.banner-img-card1 > h3 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-left: -45px;
}

.banner-img-card2 {
    width: 200px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    border-radius: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 460px;
    margin-left: -100px;
}

.img-card-text > h4 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
}

.red-circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.bars {
    display: none;
}

/* habits section */

.habits {
    width: 80%;
    margin: 100px auto;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.habit-title {
    font-size: 3rem;
    font-weight: 900;
}

.habit-description {
    text-align: center;
    margin-bottom: 50px;
}

.habit-content > img {
    border: 3px solid rgba(255, 255, 255, 0.308);
    border-radius: 50%;
}

.habit-container {
    display: flex;
    gap: 150px;
}

.habit-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

/* run section */

.run {
    width: 80%;
    margin: 0 auto;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    margin-bottom: 100px;
    justify-content: space-between;
    padding: 50px;
}

.run-text {
    width: 450px;
    height: 300px;
}

.run-text > h3 {
    font-size: 48px;
    font-weight: 900;
}

.run-text p {
    margin-top: 30px;
    margin-bottom: 80px;
}

.run-img > img {
    width: 5 50px;
    height: 370px;
    border-radius: 15px;
}

.join-now {
    width: 230px;
    height: 60px;
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    background-color: rgb(230, 83, 60);
}

/* bmi section */

.bmi {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
}

.bmi-div > h3 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 30px;
}

/* calculator section */

.calculator {
    background-color: rgb(34, 34, 34);;
}

.calculator-container {
    width: 80%;
    margin: 0 auto;
    padding: 70px 0px;
    justify-content: space-between;
}

.table {
    margin-top: 50px;
}

.chart > h4 {
    font-size: 1.8rem;
    font-weight: 900;
}

.table, tr, th, td {
    border: 1px solid rgba(255, 255, 255, 0.164);
    border-collapse: collapse;
    padding: 20px;
    
}

.calculate > h4 {
    font-size: 1.8rem;
    font-weight: 900;
}

.calculate > p {
    margin: 30px 0px;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
    margin-top: 40px;
}

.form-input > input, select {
    width: 380px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-left: 20px;
}


.Calculate {
    width: 230px;
    height: 60px;
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    color: white;
    background-color: rgb(230, 83, 60);
    margin-top: 30px;
}

/* responsive design for mobile */

@media screen and (max-width: 576px) {

    /* header */

    .nav-option {
        display: none;
    }

    .bars {
        display: block;
        color: white;
        padding-top: 13px;
    }

    .banner {
        flex-direction: column;
        gap: 180px;
        margin-top: -50px;
    }
    
    .banner-text > h1{
        font-size: 3rem;
        width: 100%;
    }
    .banner-text > p{
        font-size: 1rem;
        width: 50%;
    }

    .banner-btn > button {
        width: 160px;
        height: 60px;
        padding: 10px 20px;
        border-radius: 40px;
        margin-top: 50px;
    }

    .join-club, .download-app {
        font-size: 1rem;
    }

    .club {
        display: none;
    }


    .shape {
        font-size: 5rem;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img-card1 {
        width: 150px;
        height: 80px;
        margin-top: 60px;
        margin-left: 185px;
    }

    .banner-img-card1 > h3 {
        font-size: 1.5rem;
        font-weight: 900;
        margin-left: -45px;
    }
    .banner-img-card1 > p {
        font-size: .7rem;
        font-weight: 200;
        margin-left: -5px;
        margin-top: 3px;
    }
    .banner-img-card2 {
        width: 150px;
        height: 80px;
        margin-top: 270px;
        margin-left: -10px;
    }

    .img-card-text > h4 {
        font-size: 1.2rem;
        font-weight: 900;
        margin-bottom: 5px;
    }
    .img-card-text > p {
        font-size: .8rem;
        font-weight: 200;
        margin-bottom: 5px;
    }

    /* habit */

    .habit-title {
        font-size: 2rem;
        margin-top: -50px;
    }

    .habit-container {
        flex-direction: column;
        gap: 50px;
    }

    /* run section */

    .run {
        flex-direction: column;
    }

    .run-text {
        width: 250px;
        height: 300px;
    }
    .run-text > h3 {
        font-size: 2rem;
        
    }

    .run-img > img {
        margin-top: 100px;
        width: 250px;
        height: 200px;
    }

    .join-now {
        margin-top: -20px;
    }

    /* BMI calculator */

    .bmi {
        margin-top: -60px;
    }

    .bmi-div > h3 {
        font-size: 2rem;
    }

    /* calculator section */

    .calculator-container {
        flex-direction: column;
    }

    .calculate {
        margin-top: 30px;
    }

    .form-container {
        width: 360px;
        height: 200px;
        
    }

    .form-input > input, select {
        width: 180px;
        height: 50px;
    }

    

}